.c1{
    background-color:rgb(29, 130, 188) ;
    color: rgb(250, 249, 249);
}
.c2{
    background-color:green;
    color: rgb(250, 249, 249);
}
.c3{
    background-color: rgb(220, 144, 197);
    color: rgb(250, 249, 249);
}
.c4{
    background-color: rgb(171, 30, 148);
    color: rgb(250, 249, 249);
}
.c5{
    background-color: rgb(46, 135, 114);
    color: rgb(250, 249, 249);
}
.c6{
    background-color: orange;
    color: rgb(250, 249, 249);
}